# Core functionality - changes here should be rare!
/src/app.py                   @malv3
/src/backend/database.py      @malv3
/src/backend/routers/auth.py  @malv3

# The frontend will need refactored soon to be more object oriented.
/src/static/   @malv3
